NameVirtualHost *:<%= @port -%>

<VirtualHost *:<%= @port -%> >
# <VirtualHost *:80> 
    ServerName <%= @servername %>
    ServerAdmin webmaster@company.com
    DocumentRoot <%= @document_root %>
    ErrorLog <%= @log_dir -%>/<%= @servername -%>-error.log
    CustomLog <%= @log_dir -%>/<%=@servername -%>-access.log combined
</VirtualHost>
   
